.pedro {
    border-radius: 10px;
    left: 2px;
    opacity: .8;
    pointer-events: none;
    position: absolute;
    top: 2px;
}

.button {
    position: relative;
}

.logo {
    border-radius: 130px;
    display: block;
    margin: 0 auto;
}

.title {
    text-align: center;
}
